<center>
  <h1>Hello, Rails!</h1><br/>
  <hr>
  <h2>by Steve WOO Techouse<br/>
  <img src="https://assets.website-files.com/5ba45f48e783e23d362f50ef/5ba5d5299ad7875f2f1dcdde_techouse%202.png"></h2>
</center>